{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{% static 'img/favicon.png' %}" alt="">
        <span>Aggregate Agro</span>
      </a>
    </div>
  </header><!-- End Header -->
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
        <div class="container">

            <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Change Password</li>
            </ol>
            <h2>Change Password</h2>

        </div>
        </section><!-- End Breadcrumbs -->
        <div class="container">
          <div class="card" style="margin:20px;">
            <div class="card-title" id="pred-title" style="margin-left:220px;">
                <h3>Change your Password Here</h3>
            </div>
            <div class="card-body">
              <form method="POST" action="#" enctype="multipart/form-data">
              {% csrf_token %}
                <div class="row justify-content-md-center">
                  <div class="col-sm-4">
                    <label for="newpassword">Please Enter New Password</label>
                    <input type="password" name="newpassword" class="form-control" style="font-weight: bold;" required>
                  </div>
                </div>
                <br><br>
                <div class="row justify-content-md-center">
                  <div class="col-sm-4">
                    <label for="confirmpassword">Please Confirm Password</label>
                    <input type="password" name="confirmpassword" class="form-control" style="font-weight: bold;" required>
                  </div>
                </div>
                <br><br>
                <div class="row justify-content-md-center">
                  <div class="col-sm-4">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Predict</button>
                  </div>
                </div>
              </form>
            </div>
            {% if response %}
                <div class="alert alert-success">
                  <a class="close" href="#" data-dismiss="alert">×</a>
              
                  <p>{{ response | safe }}</p>
          
                </div>
            {% endif %}
          </div>
        </div>
    </main>

{% endblock %}

