{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{% static 'img/favicon.png' %}" alt="">
        <span>Aggregate Agro</span>
      </a>
    </div>
  </header><!-- End Header -->
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
        <div class="container">

            <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Fertilizer Recommendation</li>
            </ol>
            <h2>Fertilizer Recommendation</h2>

        </div>
        </section><!-- End Breadcrumbs -->
        <div class="container">
          <div class="card" style="margin:20px;box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
            <div class="card-title" id="pred-title">
                <h3>Get Informed Advice on Fertilizer Based on Soil</h3>
            </div>
            <div class="card-body">
              <form method="POST" action="{% url 'fertpred' %}">
              {% csrf_token %}
                <div class="row">
                  <div class="col">
                    <label for="nitrogen">Nitrogen</label>
                    <input type="text" name="nitrogen" class="form-control" placeholder="Enter Nitrogen Value">      
                  </div>
                  <div class="col">
                    <label for="phosphorous">Phosphorous</label>
                    <input type="text" name="phosphorous" class="form-control" placeholder="Enter Phosphorous Value">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <label for="potassium">Potassium</label>
                    <input type="text" name="potassium" class="form-control" placeholder="Enter Potassium Value">
                  </div>
                  <div class="col">
                    <label for="crop">Crop you want to grow</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="crop">
                        <option selected>Select crop</option>
                        <option>rice</option>
                        <option>maize</option>
                        <option>chickpea</option>
                        <option>kidneybeans</option>
                        <option>pigeonpeas</option>
                        <option>mothbeans</option>
                        <option>mungbean</option>
                        <option>blackgram</option>
                        <option>lentil</option>
                        <option>pomegranate</option>
                        <option>banana</option>
                        <option>mango</option>
                        <option>grapes</option>
                        <option>watermelon</option>
                        <option>muskmelon</option>
                        <option>apple</option>
                        <option>orange</option>
                        <option>papaya</option>
                        <option>coconut</option>
                        <option>cotton</option>
                        <option>jute</option>
                        <option>coffee</option>
                    </select>
                  </div>
                </div>
                
                <br><br>
                <button type="submit" class="btn btn-success btn-lg btn-block">Predict</button>
              </form>
            </div>
            {% if response %}
                <div class="alert alert-success">
                  <a class="close" href="#" data-dismiss="alert">×</a>
              
                  <p>{{ response | safe }}</p>
          
                </div>
            {% endif %}
          </div>
        </div>
    </main>

{% endblock %}

