{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{% static 'img/favicon.png' %}" alt="">
        <span>Aggregate Agro</span>
      </a>

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'fmarket' %}">Farmers Market</a></li>
          <li>My Crop</li>
        </ol>
        <h2>My Crop</h2>
      </div>
    </section><!-- End Breadcrumbs -->

    <div class="container" style="padding: 34px 0px 19px 0px;">
      <div class="card" style="box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);">
        <div class="card-body">
        <h3 class="card-title">My Crop Details</h3>
        <table class="table table-hover table-fixed">
        <thead class="thead">
            <tr>
            <th scope="col">Farmer Name</th>
            <th scope="col">Phone no</th>
            <th scope="col">Address</th>
            <th scope="col">Crop</th>
            <th scope="col">Quantity(in Kg)</th>
            <th scope="col">Price(Rs/Kg)</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for i in response %}
            <tr>
            <th scope="row">{{i.farmer_name}}</th>
            <td>{{i.phone}}</td>
            <td>{{i.address}}</td>
            <td>{{i.crop_name}}</td>
            <td>{{i.quantity}}</td>
            <td>{{i.price}}</td>
            <td>
              <button type="button" class="btn btn-danger" onclick="return confirm('Are you sure want to delete ?')"><a href="{% url 'deletecrop' id=i.id %}"><i class="bi bi-trash-fill"></i></a></button>
            </td>
            </tr>
            {% endfor %}          
        </tbody>
        </table>
        </div>
      </div>  
    </div>
 </main>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  {% for m in messages %}
    {% if m.tags == 'error' %}
    <script>
      swal("Some Error occured", "{{ m }}", "error");
    </script>
    {% endif %}
    {% if m.tags == 'success' %}
      <script>
      swal("Success", "{{ m }}", "success");
    </script>
    {% endif %}
  {% endfor %}

{% endblock  %}